:root{
    --main-orange: #ed7308;
    --orange: #ff8600;
    --light-orange: #ffb900;
    --main-yellow: #ffee00;
    --main-lean: #704CE7;
    --lightgray: #EBEBEB;
    --gray: #ddd;
    --white-warm: #F9F9F9;
    --black-muted: #777;
    --black-warm: #333333;
    --red: #dc3545;
    --blue: #0d6efd;
    --green: #28a745;

    --transition: .3s;
}
@font-face {
    font-family: geologica-regular;
    src: url(../fonts/Geologica-Regular.ttf);
}
@font-face {
    font-family: geologica-semibold;
    src: url(../fonts//Geologica-SemiBold.ttf);
}
@font-face {
    font-family: geologica-bold;
    src: url(../fonts//Geologica-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: geologica-regular;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
}
a{
    text-decoration: none
}
p{
    color: var(--black-warm)
}
#courses label{
    cursor: pointer;
}
.anchor{
    position: absolute;
    left: 50%;
    bottom: 69px;
}
.anchor-relative{
    position: relative;
    height: 0;
    width: 0;
    bottom: 69px;
}
.bold{
    font-weight: normal;
    font-family: geologica-bold;
}
.semibold{
    font-weight: normal;
    font-family: geologica-semibold;
}
.black{
    color: #000;
}
.title{
    font-size: 1.9rem;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.focus:focus-visible{
    outline: 5px solid #704ce77a;
}
.imp{
    font-size: 1.1em;
    color: var(--main-orange)
}